main {
    margin: auto;
    margin: 111.2px auto 0;
}

@media screen and (width>992px) {
    main {
        justify-content: space-between;
        align-items: center;
        display: flex;
        margin: 76px auto 0;
    }
}

main h1 {
    margin: 125px 64px 0 64px;
    padding: 1rem;
    border-radius: 30px;
    justify-content: center;
    text-align: center;
    background-color: var(--background-light-color);
}

@media screen and (width>992px) {
    main h1 {
        display: flex;
        margin: 50px;
        justify-content: center;
        align-items: center;

    }

}

form H2 {
    padding: 0 4rem 1rem 4rem;
    justify-content: center;
    align-items: center;
    text-align: center;
}

form {
    display: flex;
    flex-direction: column;
    margin: 1rem;
    padding: 1rem;
    background-color: var(--background-light-color);
    border-radius: 30px;
}

@media screen and (width>992px) {
    form {
        width: 824px;
        padding: 2rem 4rem 4rem 2rem;
    }
}

input {
    display: flex;
    flex-direction: column;
    margin: 8px 0px 8px 0px;
    border: none;
    width: 100%;
    padding: 0.5rem;

}

@media screen and (width>992px) {
    input {
        width: 50%;
    }
}

.input {
    height: 100px;
    width: 100%;
}

form section {
    display: flex;
    justify-content: center;
    align-items: center;
}

@media screen and (width>992px) {
    form section {
        justify-content: right;
    }
}

button {
    margin-top: 1rem;
    padding: 0.5rem 1.5rem 0.5rem 1.5rem;
    width: 125px;
    border-radius: 30px;
    border: none;
    background-color: #c6baa3;
}

@media screen and (width>992px) {
    button {
        display: flex;
        justify-content: center;
    }
}