.dark-mode {
  main {
    background-color: var(--background-dark-color);
    h2,
    a,
    p {
      color: var(--light-text-color);
    }

    article {
      background-color: var(--main-bloc-dark-color);
    }
  }
}

main {
  margin: 111.2px auto 0;

  img {
    width: 100%;
  }

  section {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    gap: 10px;
    padding: 50px;
  }

  article {
    background-color: var(--background-light-color);
    min-height: 400px;
    width: 350px;
    padding: 20px;
  }

  article > h2 {
    text-align: center;
    font-size: 20px;
    padding: 10px;
  }

  article > p {
    text-align: center;
    padding: 20px;
  }

  a > p {
    text-align: center;
  }

  article {
    background-color: var(--background-light-color);
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 30px;
    width: 350px;
    padding: 20px;
  }
}
article > a > img {
  width: 64px;
  height: 64px;
}

article > a {
  text-decoration: none;
}

article > h2 {
  text-align: center;
}

@media screen and (width>650px) {
  main {
    margin: 76px auto 0;
  }
}
