
main {
    margin: 111.2px auto 0;
    min-height: calc(100vh - 162.5px - 111.2px);
}

@media screen and (width>650px) {
    main {
        margin: 76px auto 0;
        min-height: calc(100vh - 76px - 50px);
    }
}
    h2 {
        padding: 30px 0 30px 0;
        text-align: center;
        background-color: rgb(241, 234, 221);
        margin: 120px 300px 50px 300px;
    
    
        
    }

    article {
        margin: 0 ;
        display: flex;
        justify-content: center;
        gap: 50px;
        
    }

    section {
            display: grid;
            place-items: center;
    }

    img {
    width: 205px; height: 222px;
    }

    a {
       padding: 10px;
       margin: 10px;
       background-color: rgb(241, 234, 221);
       text-decoration: none;
       cursor: pointer;
    
    }

    button{
    margin: 20px; padding: 10px;
    background-color: rgb(198, 186, 163);
    display: grid;
    place-items: center;
    cursor: pointer;
    }

    button:hover{
        opacity: 0.9;

    }

